
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.about-title {
    flex: 1;
    max-width: 320px;
    border-right: 2px solid black;
    padding: 20px; 
}

.about-text {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-image {
    width: 80%;
    aspect-ratio: 6/3;
    object-fit: cover;
    margin: auto;
}

@media (max-width: 480px) {
    .about-container {
        flex-direction: column;
    }

    .about-title {
        border-right: 0px solid black;
        border-bottom: 2px solid black;
    }

    .about-text {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        width: 100%;
    }
}