.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* About Image Container */
.about-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 400px;
}

.about-image-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
